.template-home {
    align-items: center;
    background-color: #1f1f1f;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    justify-content: center;
    padding-top: 4rem;
    text-align: center;
    height: 100vh;

    @include media-breakpoint-down(md) {
        font-size: 1.8em;
        padding-top: 3.5rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.4em;

        span {
            display: block;
        }
    }

    h1 {
        color: #ffec3d;
        font-weight: 600;
        font-size: 3em;

        @include media-breakpoint-down(md) {
            font-size: 2.5em;
        }

        @include media-breakpoint-down(sm) {
            font-size: 2em;
        }
    }
}
