@use "breakpoints" as *;

body {
    font-family: "Figtree Variable", Arial, Helvetica, sans-serif;
    font-size: 18px;

    @include media-breakpoint-down(medium) {
        font-size: 16px;
    }
}

strong {
    font-weight: 600;
}

.container-fluid {
    --bs-gutter-x: 1.5rem;

    @include media-breakpoint-down(medium) {
        --bs-gutter-x: 1rem;
    }
}
