@use "breakpoints" as *;

html {
    background: #7614e6;
    font-size: 16px;

    @include media-breakpoint-up(small) {
        font-size: 18px;
    }

    @include media-breakpoint-up(medium) {
        font-size: 24px;
    }

    @include media-breakpoint-up(large) {
        font-size: 28px;
    }
}

body {
    background: #fff;
    color: #504e4b;
    font-family: "Figtree Variable", Arial, Helvetica, sans-serif;
    letter-spacing: 0.005rem;
}

strong, h1, h2, h3, h4, h5, h6 {
    color: #2f2d2a;
    font-weight: 600;
}

main {
    min-height: 100svh;
    padding-top: 4rem;
    z-index: 1;
}

a {
    color: #7614e6;
    text-decoration: underline 0.05em rgba(118, 20, 230, 0);
    text-underline-offset: 0.15em;
    transition: text-decoration-color 300ms;

    &:hover {
        text-decoration-color: rgba(118, 20, 230, 1);
    }
}
