@use "breakpoints" as *;

html {
    background: #7614e6;
}

body {
    background: #fff;
    color: #504e4b;
    font-family: "Figtree Variable", Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0.005rem;

    @include media-breakpoint-up(small) {
        font-size: 18px;
    }

    @include media-breakpoint-up(medium) {
        font-size: 24px;
    }

    @include media-breakpoint-up(large) {
        font-size: 28px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 32px;
    }
}

strong, h1, h2, h3, h4, h5, h6 {
    color: #2f2d2a;
    font-weight: 600;
}

