@font-face {
    font-family: 'Nexa';
    src: url('https://new.orryverducci.co.uk/themes/orry-web/assets/fonts/NexaLight.woff2') format('woff2'),
        url('https://new.orryverducci.co.uk/themes/orry-web/assets/fonts/NexaLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('https://new.orryverducci.co.uk/themes/orry-web/assets/fonts/NexaBold.woff2') format('woff2'),
        url('https://new.orryverducci.co.uk/themes/orry-web/assets/fonts/NexaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Animal Crossing';
    src: url('https://new.orryverducci.co.uk/themes/orry-web/assets/fonts/AnimalCrossingWildWorld.woff2') format('woff2'),
        url('https://new.orryverducci.co.uk/themes/orry-web/assets/fonts/AnimalCrossingWildWorld.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
