---
import Layout from '../layouts/Layout.astro';

export const prerender = true;
---

<Layout pageClass="template-404" controller="error404" headerBackground={true} headerOverlay={true} >
    <canvas id="noise" aria-hidden="true" data-error404-target="background"></canvas>
    <div id="channel-block">
        <p>404</p>
        <h1>Page Not Found</h1>
    </div>
    <div id="error-info">
        <p class="top-line">The page you are looking for could not be found :(</p>
        <p>It may have moved, or there may be a typo in the address. Try using the menu to find the page you are looking for.</p>
    </div>
</Layout>
