---
import Layout from '../layouts/Layout.astro';

export const prerender = true;
---

<Layout pageClass="template-home header-padding" description="The online home of Orry Verducci." headerOverlay={true} themeColour="#1f1f1f">
	<h1>Hi, I'm Orry</h1>
	<p><span>Welcome to my corner</span> <span>of the internet</span></p>
</Layout>
